<div class="container">
  <mat-card class="card">
    <mat-card-header class="card-header">
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content class="card-body">
      <form class="form">
        <div class="table-row">
          <div class="table-cell">
            <mat-form-field>
              <mat-label>Email</mat-label>
              <input matInput [(ngModel)]="email" name="email" class="form-control">
            </mat-form-field>
          </div>
        </div>
        <div class="table-row">
          <div class="table-cell">
            <mat-form-field>
              <mat-label>Password</mat-label>
              <input matInput type="password" name="password" [(ngModel)]="password" class="form-control">
            </mat-form-field>
          </div>
        </div>
      </form>
    </mat-card-content>
    <mat-card-actions class="card-footer">
      <button mat-raised-button (click)="login()" class="btn-primary">Login</button>
    </mat-card-actions>
  </mat-card>
</div>
